header {
    background-color: #f1f1f1;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0 10px;
}

nav > a {
    display: block;
    margin: 5px 0;
    padding: 4px;
    background: #f1f1f1;
    color: black;
    text-align: center;
    text-decoration: none;
}


#sidebar {
    float: left;
}

nav {
    padding: 10px 0;
    min-width: 200px;
}

#header-buttons {
    /*width: 50%;*/
}

button {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 18px;
    cursor: pointer;
    border: none;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

header p {
    display: block;
}

nav > form {
    display: flex;
    flex-direction: column;
}
