* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#pseudo-body {
    max-width: 65%;
    margin: auto;
    display: block;
}

div {
    display: flex;
}

#avatar {
    max-height: 235px;
}

.column-view {
    flex-direction: column;
}

#main-container {
    justify-content: space-between;
    padding: 10px;
}

#photo-container {
    justify-content: center;
}

.hidden {
    height: 50px;
}

label[for="info"], label[for="friends-info"] {
    font-weight: 600;
    font-size: 14px;
    padding: 3px 0;
}

#info {
    display: block;
}

p {
    margin: 2px 0;
    padding: 10px;
    font-size: 12px;
    background: #f1f1f1;
    border-radius: 2px;
}

#photo-container button {
    display: block;
    width: 100%;
}


@media screen and (max-width: 768px) {
    #main-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 900px) {
    #main-container {
    }
}